:local(.flex-item) {
  width: 30rem;
  min-height: 20rem;
  border: 1px solid lightgray;
  box-shadow: 0px 0px 5px 1px lightgray;
  border-radius: 1px;
  padding: 0rem 1rem 1rem 1rem;

  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

@media screen and (max-width: 760px) {
  :local(.flex-item) {
    max-width: 100%;
    box-sizing: border-box;
  }
}

:local(.flex-item p) {
  margin: 0;
}

:local(.title-wrapper) {
  margin: 25px 10px 10px 10px;
  font-weight: 600;
  display: flex;
}

@media screen and (max-width: 760px) {
  :local(.title-wrapper) {
    margin-left: 0;
  }
}

:local(.image-wrapper) {
  width: 54px;
  height: 54px;
  border-radius: 26px;
  background-color: #3A7A10;
  display: flex;
  justify-content: center;
  flex-shrink: 0;
}

:local(.title) {
  margin: 0 0 0 15px;
  width: 300px;
  font-weight: 600;
  font-size: 24px;
  color: #3A7A10;
  align-self: center;
}

@media screen and (max-width: 760px) {
  :local(.title) {
    font-size: 18px;
  }
}

:local(.subtitle) {
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
}

:local(.content-wrapper) {
  margin-left: 80px;
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  :local(.content-wrapper) {
    margin-left: 0;
  }
}

:local(.list-wrapper) {
  font-size: 16px;
  margin-top: 15px;
  color: #4a4a4a;
  font-weight: 300;
}

:local(.list) {
  -webkit-padding-start: 20px;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

:local(.link-container) {
  margin: auto auto 15px auto;
}

:local(.link) {
  display: flex;
  background-color: #3A7A10;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  border: 0;
  text-decoration: none;
}

:local(.link-disabled) {
  display: flex;
  background-color: #b2b2b2;
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
  border: 0;
  text-decoration: none;
  padding: 0.7rem 2.5rem;
}

:local(.link-loggedin) {
  padding: 0.7rem 2.5rem;
}

:local(.link-loggedout) {
  padding: 0.7rem 2.5rem 0.7rem 1rem;
}

:local(.link-image) {
  margin-right: 15px;
  fill: #3A7A10;
}

:local(.link-text) {
  line-height: 22px;
  text-align: center;
}

:local(.link-text-disabled-valtuudet) {
  line-height: 22px;
  text-align: center;
  background-color: #b2b2b2;
  cursor: not-allowed;
}
