:local(.flex-container) {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  justify-content: space-evenly;
  max-width: 1090px;
}

@media screen and (max-width: 900px) {
  :local(.flex-container) {
    flex-direction: column;
    margin: 0.5rem auto 0.5rem auto;
  }
}
