@media screen and (max-width: 1090px) {
  :local(.greeting-container) {
    margin-left: 15px;
  }
}

:local(.greeting-container) {
  display: flex;
  flex-direction: column;
  max-width: 1090px;
  margin: auto;
}

:local(.greeting-container-space-below) {
  max-width: 1090px;
  margin: 0 auto 30px auto;
  text-align: center;
}

:local(.guest-greeting) {
  font-size: 1.5rem;
  font-weight: 500;
  width: 70%;
  margin: 1.67em auto 0.67em auto;
}

:local(.subtitle) {
  font-size: 20px;
  letter-spacing: 0.3px;
  width: 540px;
  max-width: 100%;
  margin: 0;
}

:local(.identity) {
  margin-top: 40px;
  font-size: 16px;
}

:local(.name) {
  font-weight: bold;
}

:local(.birthday) {
  margin-left: 10px;
}

:local(.login-button) {
  padding: .6rem 3rem;
  font-size: 1.4rem;
  background-color: #149ecb;
  color: #fff;
  border: 0;
  cursor: pointer;
  text-decoration: none;
}
