body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  width: 500px;
}

#content {
  margin-bottom: 30px;
}

:root {
  --water-blue: #149ECB;
  --dark-blue: #00526C;
}

