body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

#content {
  margin-bottom: 30px;
}

.blue {
  color: #149ECB;
}

.darkblue {
  color: #00526C;
}

